<html>
<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="list card">
      <div class="item-divider">
        <h1 class="title text-center">Howard Johnson</h1>
      </div>
      <div class="item item-body">
        <img src="img/fachada.jpg" class="full-image"  alt="" />
        <p>
          El hotel Howard Johnson Loja se encuentra en la ciudadela Zamora,
          sector estratégico, residencial que se caracteriza por su seguridad y
          tranquilidad. Estamos a 5 minutos del centro de la ciudad y a 45
          minutos del aeropuerto Camilo Ponce Enrique de Catamayo
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
</html>
