<ion-view view-title="Inicio de Sesión">
    <ion-nav-bar class="bar-energized">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-content class="padding">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="john@suhr.com" required>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Contraseña</span>
            <input type="password" placeholder="********" required>
        </label>
        <button class="button button-block button-stable">
            Iniciar Sesión
        </button>
        </div>
    </ion-content>
</ion-view>