<ion-view view-title="Inicio de Sesión">
    <ion-nav-bar class="bar-energized">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-content class="padding">
        <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="Email" ng-model="datos.correo" required>
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Contraseña</span>
            <input type="password" placeholder="Contraseña" ng-model="datos.contra" required>
        </label>
        <button class="button button-block button-stable" ng-click="loggin()">
            Iniciar Sesión
        </button>
        </div>
    </ion-content>
</ion-view>