<ion-view view-title="Registro">
    <ion-nav-bar class="bar-energized">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-content class="padding">

        <div class="list">
            <label class="item item-input item-stacked-label">
            <span class="input-label">Número de identificación (C.I., DNI)</span>
            <input type="number" placeholder="1010101010" required>
        </label>
            <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="john@suhr.com" required>
        </label>
            <label class="item item-input item-stacked-label">
            <span class="input-label">Contraseña</span>
            <input type="password" placeholder="********" required>
        </label>
            <label class="item item-input item-stacked-label">
            <span class="input-label">Repetir Contraseña</span>
            <input type="password" placeholder="********" required>
        </label>
            <button class="button button-block button-stable">
            Crear usuario
        </button>
        </div>
    </ion-content>
</ion-view>