<html>
<style>
.button-large {
  font-size: 15px;
  line-height: 25px;
  min-height: 5px;
}
</style>
<ion-view view-title="Room Service">
  <ion-content class="padding" on-swipe-right="toInf()">

    <p>
      Para activar el servico a la habitación debe ingresar su código de usuario.
    </p>
    <div class="list">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="codigo" placeholder="Código de Cliente">
        </label>
        <button ng-click="probarCod(codigo)" ng-model="comprobar" class="button button-small">
          Comprobar
        </button>
      </div>
    </div>

    <div ng-show="error" class="list card">
      <div class="item item-body">
        El código ingresado no es válido.
      </div>
    </div>
    <div ng-show="lista" class="list">
      <div  class="list card">
        <div class="item item-body" ng-repeat="usuario in usuarios">
          Bienvenido, {{usuario.nombreCliente}}
        </div>
      </div>
      <div class="item item-body balanced">
        <i class="ion ion-card"></i>
        <b>Valor a pagar</b>: <span class="assertive">{{sumatoria | currency}}</span>
        <button ng-click="agregarPedido()" class="button button-large button-positive">
          Pedir
        </button>
      </div>

      <div>
        <div class="list card" ng-repeat="producto in productos">
          <label for="{{producto.codigoProducto}}" class="checkbox" style="text-align=center">
            <input type="checkbox" ng-change="adds(producto)" ng-model="selection[producto.codigoProducto]['compra']" name="group" id="{{producto.codigoProducto}}" />
            <img src="{{producto.imagen}}" style="width:45%; float:left;">
            <h2>{{producto.nombreProducto}}</h2>
            <p>{{producto.descripcion}}</p>
            <div style="clear:left;">
              <p class="badge badge-assertive" style="width:45%;">Precio: {{producto.precio | currency}}</p>
              <p class="badge badge-positive" style="width:45%;"> Restantes:{{producto.disponibles}}</p>
            </div>
          </label>
          <div class="item range range-positive">
            <i class="icon ion-minus-circled"></i>
            <input type="range" ng-change="suma()" name="cantPed" ng-model="selection[producto.codigoProducto]['cantidad']" min="1" step="1" max="{{producto.disponibles}}" value="1" >
            <i class="icon ion-plus-circled"></i>
            <p>cant: {{selection[producto.codigoProducto]['cantidad']}}</p>
          </div>
        </div>
        <pre ng-bind="selection | json"></pre>
      </div>
    </div>
  </ion-content>
</ion-view>
</html>
