<html>
<style>
.button-large {
  font-size: 15px;
  line-height: 25px;
  min-height: 5px;
}
</style>
<ion-view view-title="Cuenta">
  
  <ion-header-bar class="bar-energized">
    <h1 class="title"><i class="fa fa-users"></i>Howard Johnson, Room Service App</h1>
  </ion-header-bar>

  <ion-content class="padding has-header" on-swipe-right="toInf()">
    
    <div ng-show="reg()">
      <br>
      <br>
      <p style="color:#999999" align="center">
        <i style="font-size:4rem" class="icon ion-coffee padding-top"></i>
        <i style="font-size:6rem" class="icon ion-icecream"></i>
        <i style="font-size:4rem" class="icon ion-pizza padding-top"></i>
      </p>
      <br>
      <br> 
      <div class="card">
        <div class="item item-text-wrap">
          <p>Para poder acceder a nuestro servicio de pedidos a la habitación desde su movil, es necesario posea una cuenta de usuario.</p>
          <a class="button button-block button-outline button-energized" href="#/registro">
            Registrarse
          </a> 
          <a class="button button-block button-outline button-balanced" href="#/loggin">
            Iniciar Sesión
          </a>
        </div>
      </div>
    </div>

    <div class="perfil" ng-show="perfil()">
      <div class="list card">
        <ion-item class="profile-item profile-item-cabecera">
          <div class="profile-picture big-profile-picture">
            <img src="{{userData.icon}}">
          </div>
          <h2 class="profile-name dark">{{userData.nombre}}</h2>
          <h2 class="profile-name dark">{{userData.apellido}}</h2>
          <div class="profile-info">{{userData.email}}</div>
        </ion-item>
        <ion-item class="profile-item">
          <div>
            <div>Valor a pagar:  <span class="tag-assertive">{{apagar|currency}}</span></div>
          </div>
          <a class="button button-block button-outline button-balanced icon-left ion-clipboard button-positive" href="#/detalle">
            Detalle Cuenta
          </a>
          <a class="button button-block button-outline button-balanced icon-left ion-bag button-positive" href="#/pedidos">
            Servicio a la habitación
          </a>
          <button class="button button-block button-outline button-assertive icon-left ion-log-out button-positive" ng-click="logout()">
            Cerrar Sesión
          </button>
        </ion-item>
      </div>
    </div>
    
    
  </ion-content>
</ion-view>
</html>
