<html>
<style>
.item .badge + .badge {
  margin-right: 0px;
  margin-top: 10%;
}
</style>
<ion-view view-title="Room Service">
  <ion-content class="padding" on-swipe-right="toInf()">

    <p>
      Para activar el servico a la habitación debe ingresar su código de usuario.
    </p>
    <div class="list">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="codigo" placeholder="Código de Cliente">
        </label>
        <button ng-click="probarCod(codigo)" ng-model="comprobar" class="button button-small">
          Comprobar
        </button>
      </div>
    </div>

    <div ng-show="error" class="list card">
      <div class="item item-body">
        El código ingresado no es válido.
      </div>
    </div>
    <div ng-show="lista" class="list">
    <div  class="list card">
      <div class="item item-body" ng-repeat="usuario in usuarios">
        Bienvenido, {{usuario.nombreCliente}}
      </div>
    </div>
    <div class="item item-divider balanced">
      <i class="ion ion-card"></i>
      <b>Valor a pagar<b>: <span class="assertive">$25.00</span>
    </div>
      <div ng-repeat="producto in productos">
        <ion-checkbox class=""    ng-model="producto.codigoProducto">
          <img src="{{producto.imagen}}" style="width:35%;">
          <h2>{{producto.nombreProducto}}</h2>
          <p>{{producto.descripcion}}</p>
          <p class="badge badge-assertive" style="width:35%;">Precio: {{producto.precio | currency}}</p>
          <p class="badge badge-positive" style="width:35%;"> Restantes:{{producto.disponibles}}</p>

        </ion-checkbox>
        <div class="item range range-positive">
          <i class="icon ion-minus-circled"></i>
          <input type="range" name="cantPed" ng-change="cant" ng-model="cantidad" min="1" step="1" max="{{producto.disponibles}}" >
          <i class="icon ion-plus-circled"></i>
          <p>cant: {{cantidad}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
</html>
